<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucie.absences20">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_epf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccueilActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".RedirectingActivitiy"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape">
            >
        </activity>
        <activity
            android:name=".TotalsAbsences"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MesStatistiques"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PrevenirAbsence"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AbsencesPromotion"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AbsencesAnticipees"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Alertes"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AbsencesProfesseurs"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AbsencesDirect"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".StatsPromotion"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AbsencesElevesDirect"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".StatsClassementPromotion"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".choix_promotion"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape">
        </activity>

    </application>

</manifest>